<div class="container">
  <p class="h3 p-3">{{ bandaDetail.nombre }}</p>
  <div class="row">
    <div class="col-4">
      <div class="thumb">
        <img
          class="img-thumbnail"
          src="{{ bandaDetail.imagen }}"
          alt="{{ bandaDetail.nombre }}"
        />
        <dd>Estrellas: {{ bandaDetail.estrellas }} | Cantidad opiniones: {{bandaDetail.cantidadOpiniones}}</dd>
        <br />
      </div>
    </div>
    <div class="col-8">
      <dl>
        <dt class="bold">Descripción</dt>
        <dd>{{ bandaDetail.descripcion }}</dd>
        <dt class="bold">Ingredientes</dt>
        <dd>{{ bandaDetail.ingredientes }}</dd>
        <dt class="bold">Autor de la receta:</dt>
        <dd>{{ bandaDetail.autorReceta }}</dd>
        <dt class="bold">Más info:</dt>
        <dd>Dificultad: {{ bandaDetail.dificultad }} | Duración: {{ bandaDetail.duracion }}</dd>
      </dl>
    </div>

  </div>
 </div>
